@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
}

.App {
  text-align: center;
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
