@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  margin: 0;
  padding: 80px 0 40px; /* Add padding for header and footer */
  box-sizing: border-box;
  background: linear-gradient(135deg, rgba(2, 48, 71, 0.8), rgba(255, 183, 3, 0.8));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
