.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #ffb703;
    padding: 20px;
    border-radius: 8px;
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #fb8500;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #ffb703;
}
