.list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #023047;
    color: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.item:nth-child(even) {
    background-color: #ffb703;
    color: #023047;
}

.item button {
    background-color: #fb8500;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.item button:hover {
    background-color: #ffb703;
    transform: scale(1.05);
}
