.feedback.error {
    display: none;
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.feedback.success {
    display: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}